* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.inner_carousel {
    min-height: 200px !important;
}

/* .inner_carousel{height: 200px;} */
/* .slide {height: fit-content}
.inner_carousel div{width: 80%;height: 100%;margin:auto;margin-top: 2rem;}
.inner_carouse img{height: 100% !important;
    width: auto !important;vertical-align: top;}
.main_caursel_div{height: auto;} */
/* .inner_carouse div img{width:40% !important;height: 40% !important;background-color: aqua;} */
/* .inner_carousel_img {
    width: 70% !important;
    height: 60% !important;
} */
/* .inner_img_suit_one {margin-top: 40%ackground-color: #C;bC0C39;} */
.inner_carousel div {
    margin: auto;
}

.extra_store_heading a {
    font-size: 14px;
    color:
        #007185;
    line-height: 20px;
    text-decoration: none;
}

.col_discri_card h5 {
    font-size: 24px;
    line-height: 36px;
}

.col_rating_card h6 {
    font-size: 14px;
    color: #007185;
    line-height: 20px;
}

.a_search_rating_bottom {

    color: #007185;
    text-decoration: none;

}

.hr_card_item {}

.col_price_card span {}

.col_price_card .span_one_price {
    font-size: 24px !important;
    color: #CC0C39;
    font-weight: 300 !important;
    font-family: Arial, Helvetica, sans-serif;
    /* Styles for the first span child of .col_price_card */
}

.col_price_card .span_two_price {
    padding-left: 10px;
    font-size: 32px;
    color: #CC0C39;
    font-weight: 300 !important;
    font-family: Arial, Helvetica, sans-serif;
    /* Styles for the first span child of .col_price_card */
}

.limited_div {
    background-color: #CC0C39 !important;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
}

.col_price_card b {
    text-decoration: line-through !important;
    line-height: 40px;
}

.col_price_card h6 {
    font-size: 15px;
    color: #565959;
}

.col_rating_card {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.col_rating_card {
    display: flex;
    align-items: center;
    width: 100%;
}

.col_rating_card div {
    display: flex;
    align-items:
        center;
}

.col_rating_card h6 {
    margin: 0%;
}

.parten_offers {
    display: inline-block;
    position: relative;
    vertical-align: baseline;
    overflow: hidden;
    border-radius: 5px;
    padding: 7px 10px;
    margin-top: .2rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .3);
    margin-left: .1rem;
    width: 100%;
}

.inner_parten_offers {
    padding: 7px 10px;
}

.inner_parten_offers h6 {
    font-size: 14px;
    font-weight: 700;
    color: #0F1111;
}

.inner_parten_offers p {
    font-size: 14px;
    font-weight: 700;
    color: #9e9f9f
}

.return_Exchange_div img {
    height: 35px !important;
    width: 35px !important;
    min-width: 35px;
    min-height: 35px;
    text-align: center;
}

/* .return_Exchange_div {
    display: flex;
    justify-content: space-evenly;
} */

/* .return_Exchange_div div{border: 1px solid red;} */
/* .return_Exchange_div{background-color: #CC0C39;width: 100%;} */
/* .carousel-item{width: 100%;} */
.return_Exchange_div p {
    font-weight: 400 !important;
    font-style: normal !important;
    width: 100%;
    text-align: center;
    margin: auto !important;
    /* display: inline-block; */

    /* text-transform: none !important; */
    color: #007185 !important;
    text-decoration: none !important;
    font-size: 12px;
}

.return_Exchange_div {
    display: flex;
    justify-content: center;
}

.return_Exchange_div div {
    width: 50%;
}

.return_Exchange_div img {
    /* margin-left: -25px !important; */
}

.size_button_for_product label {
    color: #9e9f9f;
    font-size: 14px;
    padding: 0px 0px 2px 2px;
}

.size_button_for_product select {
    border-radius: 4px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    line-height: 19px;
    width: 25%;
    outline: none;
    color: #0F1111;
    border: 1px #ddd solid;
}

/* .middle_content_card {
    overflow: auto;
} */

.product_details h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 14px;
    padding-top: 4px;
}

.product_details ul li {
    font-size: 14px;
}

.product_details h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 14px;
    padding-top: 4px;
}

.product_details p {
    font-size: 14px;
}

.middle_content_card {
    height: 110vh !important;
    overflow: auto;
}


.outer_carousel_img_one img {
    height: 80% !important;
    width: 70% !important;
}

.outer_inner_carousel_img_last {
    aspect-ratio: 3/3 !important;
    object-fit: contain !important;
    text-align: center;

}

/* .inner_carousel div{border: 1px solid rgb(217, 32, 32);object-fit: cover !important;} */
/* .inner_carousel div img{border: 3px solid rgb(32, 217, 35);
    object-fit: cover !important;} */
.inner_carousel_img_last {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover !important;
    ;
}

.main_caursel_div {
    height: auto !important
}

.inner_carousel div img {
    height: 60% !important;
    width: 70% !important;
}

.rupes_icon {
    font-size: 12px;
    margin-top: -13px;
}

.col_price_card p {
    font-size: 14px;
}

/* .product_details b{border: 1px solid black;} */
.product_details span {
    float: right;
}

.inner_product_details {
    /* align-items: flex-start; */
    justify-content: space-evenly;
    width: 100%;
    display: flex;

}

.b_product_list,
.h6_product_list {
    margin-right: auto;
}

/* ul{padding: none;} */
.h6_product_list {
    width: 40%;
    ;
}

.b_product_list b {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif
        /* line-height: 38px; */
    ;
    line-height: 30px !important;


}

.h6_product_list h6 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
}

.about_product_details h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 14px;
    padding-top: 4px;
}

.about_product_details ul {
    font-size: 14px;
}

.about_product_details ul li {
    width: 60%;
}

.about_h6_product_list h6 {
    font-size: 13px;
    line-height: 23px
}

.inner_about_ul_details li {
    font-size: 14px;
    padding-top: 10px;
}

.about_product_details h5 {
    font-size: 14px;
    color: #007185;
}

.inner_styling_ideas_col h4 {
    font-size: 24px;
    font-family:
        Arial, Helvetica, sans-serif;
    text-align: start;
    padding: 10px 10px 10px 0px;
    font-weight: 700;
}

.inner_left__styling_ideas_col {
    background-color: #f6f6f6;
}

.inner_left__styling_ideas_col div {
    width: 100%;
    display: flex;
    ;
    justify-content: center;
}

.inner_left__styling_ideas_col img {
    mix-blend-mode: darken !important;

    ;
}

.inner_right__styling_ideas_col {
    background-color: #f6f6f6;
}

.main_manufacture_div {
    margin-top: 2rem;padding: 0%;
}

.inerr_manufacture_div_second {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.inerr_manufacture_div_first h4 {
    font-size: 24px;
    font-family:
        Arial, Helvetica, sans-serif;
    text-align: start;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
}

.inerr_manufacture_div_second {
    width: 75%;
    height: 100%;
    margin: auto;
}

.inerr_manufacture_div_second img {
    height: auto;
    width: 100%;
}
.inner_manufacture_col {padding: 0%;}