.clock {
    width: 400px;
    height: 400px;
    background: #ddf6ff url("https://assets.codepen.io/85188/clock-markers.svg") center center no-repeat;
    position: relative;
    border-radius: 50%;
    margin: auto;
  }
  
  .hourHand,
  .minuteHand,
  .secondHand {
    position: absolute;
    background-color: #333;
    transform-origin: bottom center;
    left: 50%;
    top: 10%;
  }
  
  .hourHand {
    width: 4px;
    height: 170px;
  ;margin-top: 1.5rem;
    transform: translateX(-50%) translateY(-100%) rotate(var(--degHour));
  }
  
  .minuteHand {
    width: 3px;
    height: 180px;
   ;margin-left: -.2rem;margin-top: -1rem;
    transform: translateX(-50%) translateY(-110%) rotate(var(--degMin));
  }
  
  .secondHand {
    width: 2px;
    height: 165px;
    background-color: #0bd;margin-top:1rem;margin-left: -.1rem;
    transform: translateX(-50%) translateY(-100%) rotate(var(--degSec));
  }
  
  .secondHand::after {
    border-radius: 50%;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #0bd;
    position: absolute;
    bottom: -15px;
    left: -15px;
  }
  .homePage h6{text-align: start;font-size: 2rem}

 